$size: 48px;

.wrapper-view {
    height: 100%;

    &__body {
        height: 100%;

        background-color: gainsboro;
    }

    &__body-content {
        width: 80%;
        max-width: 1000px;
        padding: 16px;
        margin: 0 auto;
    }

    &__user-icon-container {
        height: $size;
        width: $size;
    }
    &__user-icon {
        cursor: pointer;

        font-size: $size;
    }
}