<div class="wrapper-view">
    <mat-toolbar color="primary" class="wrapper-view__toolbar">
        <div fxFlex fxLayoutAlign="end center">
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="doLogout();">{{ 'user.menu.logout' | translate }}</button>
                <button mat-menu-item (click)="goToPreferences();">{{ 'user.menu.settings' | translate }}</button>
            </mat-menu>

            <div class="wrapper-view__user-icon-container">
                <mat-icon aria-label="User" class="wrapper-view__user-icon" [matMenuTriggerFor]="userMenu">
                    account_circle</mat-icon>
            </div>
        </div>

    </mat-toolbar>
    <div class="wrapper-view__body">
        <div class="wrapper-view__body-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>