<mat-card fxLayout="column">
    <mat-card-title>
        {{ 'employees.title' | translate }}
    </mat-card-title>
    <mat-card-content fxFlex fxLayout="column">
        <app-employees-table [employees]="employees" [loaded]="employeesLoaded" (onDelete)="delete($event)"
            (onUpdate)="onUpdateDialog($event)">
        </app-employees-table>
    </mat-card-content>
    <mat-card-actions fxFlex fxLayoutAlign="end center">
        <button mat-fab color="primary" (click)="onAddDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>