<div fxFlex fxLayout="column">
    <div fxFlex fxLayoutGap="16px">
        <mat-form-field>
            <input #name matInput [(ngModel)]="employee.name" placeholder="{{ 'employees.detail.name' | translate }}">
        </mat-form-field>
        <mat-slide-toggle [checked]="employee.active" (change)="employee.active = $event.checked;">
            {{ 'employees.detail.active' | translate }}
        </mat-slide-toggle>
    </div>

    <div fxFlex fxLayputGap="16px">
        <mat-form-field>
            <input matInput [(ngModel)]="employee.clockIn" [matDatepicker]="clockIn"
                placeholder="{{ 'employees.detail.clockIn' | translate }}">
            <mat-datepicker-toggle matSuffix [for]="clockIn"></mat-datepicker-toggle>
            <mat-datepicker #clockIn></mat-datepicker>
        </mat-form-field>

    </div>

    <div fxFlex fxLayputGap="16px">
        <mat-form-field>
            <input matInput [(ngModel)]="employee.clockOut" [matDatepicker]="clockOut"
                placeholder="{{ 'employees.detail.clockOut' | translate }}">
            <mat-datepicker-toggle matSuffix [for]="clockOut"></mat-datepicker-toggle>
            <mat-datepicker #clockOut></mat-datepicker>
        </mat-form-field>
    </div>

</div>