.mat-card {
  .mat-card-title {
    margin: 0;

    &>h2 {
      margin: 0;
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
}

.text-no-results {
  min-height: 336px;

  mat-icon {
    color: #d50000;
  }
}

.hide {
  display: none !important;

  .mat-header-row {
    display: none !important;
  }
}

.mat-table {

  .mat-header-row,
  .flex-parent {
    position: relative;

    .truncate-text {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      left: 50%;
      top: 50%;
    }
  }
}

.mat-table {

  .mat-header-row,
  .flex-parent {
    position: relative;

    .truncate-text {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      left: 50%;
      top: 50%;
    }
  }
}

.employees-table {
  &__radio-group {
    display: flex;
    flex-direction: row;
  }

  &__radio-button {
    margin: 5px;
  }

  &__no-data {
    text-transform: uppercase;
  }

  &__filter-clear {
    cursor: pointer;
  }
}

