<div fxFlex fxLayoutAlign="center center">
    <mat-card fxFlex="350px" fxLayout="column">
        <mat-card-title>
            {{ 'login.title' | translate }}
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxFlex fxLayout="column">
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="{{ 'login.email' | translate }} *"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                </mat-form-field>
                <div *ngIf="submitted && f.email.errors" class="app-login__invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ 'login.errors.required.email' | translate }}</div>
                    <div *ngIf="f.email.errors.email">{{ 'login.errors.invalid.email' | translate }}</div>
                </div>
                <mat-form-field>
                    <input matInput type="password" placeholder="{{ 'login.password' | translate }} *"
                        formControlName="password">
                </mat-form-field>
                <div *ngIf="submitted && f.password.errors" class="app-login__invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{ 'login.errors.required.password' | translate }}</div>
                    <div *ngIf="f.password.errors.minlength">{{ 'login.errors.invalid.password' | translate }}</div>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="accent">{{ 'login.accept' | translate }}</button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions *ngIf="error">
            <div class="app-login__invalid-feedback">
                <div> {{ 'login.errors.connection' | translate }} </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>