<div fxFlex fxLayoutAlign="center center">
    <mat-card fxFlex="350px" fxLayout="column">
        <mat-card-title>
            {{ 'login.title' | translate }}
        </mat-card-title>
        <mat-card-content fxFlex fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="{{ 'login.user' | translate }}" [(ngModel)]="login.user">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="{{ 'login.password' | translate }}"
                    [(ngModel)]="login.password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxFlex fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="accent" [disabled]="!login.user || !login.password"
                (click)="doLogin()">{{ 'login.accept' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>